{% extends "labs/base.html" %}
{% load static %}
{% block content %}
    <style>
        html,body {
            font-family: Arial, sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .mycontainer {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            margin: 5px;

            /* background-color: red; */
        }

        .left-panel {
            /* background-color: lightgray; */
            display: none;
            padding: 10px;
            flex:3;
            justify-content: center;
            align-items: center;
            height: 100%;
            
        }

        .right-panel {
            /* background-color: violet; */
            padding: 10px;
            flex:9;
            height: 100%;

        }

        .card-row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .card {
            flex-basis: calc(25% - 10px);
            border: 1px solid #ddd;
            /* padding: 10px; */
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
            margin-bottom: 10px;
            text-align: center;
        }

        .card {
            width: 100%;
            height: auto;
        }

        input, select {
            width: 90%;
            margin-bottom: 10px;
            padding: 8px;
        }

        /* Responsive adjustments */
        @media (max-width: 768px) {
            .card {
                flex-basis: calc(50% - 10px);
            }
        }

        @media (max-width: 480px) {
            .card {
                flex-basis: 100%;
            }

            .left-panel, .right-panel {
                padding: 5px;
            }
        }

        #toggleButton {
            position: fixed; /* Fixed position relative to the viewport */
            right: 20px; /* 20px from the right edge */
            bottom: 20px; /* 20px from the bottom edge */
            background-color: #007bff; /* Blue background */
            color: white; /* White text */
            border: none; /* Remove default border */
            padding: 10px 20px; /* Top/bottom and left/right padding */
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer; /* Pointer cursor on hover */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Subtle shadow for depth */
            transition: background-color 0.3s ease; /* Smooth transition for hover effect */
            z-index: 1000; /* Ensure it stays on top of other elements */
        }

        #toggleButton:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }


    .card-info{
        display: flex;
        padding: 10px;
    }
    .card-left-info{
        flex:80;
    }
    .card-right-info{
        flex:20;
        margin-top:10px;
    }
    .card-lab-name{
        display: flex;
        gap:10px;
        font-size:14px;
    }
    .card-department-name{
        display: flex;
        gap:10px;
    }

    .card-button{
        background-color : #5D5AE9;
        color: white;
        border: none;
        padding: 5px 10px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer; 
        border-radius: 5px; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.3); 
        transition: background-color 0.3s ease;
    }
    .card-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }


    .toast {
        visibility: hidden;
        min-width: 50%;
        min-height: 60%;
        /* margin-left: -125px; */
        background-color: rgb(236, 244, 247);
        text-align: center;
        border-radius: 10px;
        position: fixed;
        z-index: 1;
        left: 25%;
        bottom: 25%;
        font-size: 17px;
        margin-right: 50%;

        flex-basis: calc(25% - 10px);
        border: 1px solid #ddd;
        /* padding: 10px; */
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        /* margin-bottom: 10px; */
    }

    /* Show the toast when adding the "show" class */
    .show {
        visibility: visible;
        -webkit-animation: fadein 0.5s;
        animation: fadein 0.5s;
    }

    @-webkit-keyframes fadein {
        from {bottom: 20%; opacity: 0;} 
        to {bottom: 25%; opacity: 1;}
    }

    @keyframes fadein {
        from {bottom: 20%; opacity: 0;}
        to {bottom: 25%; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    .close {
        position: absolute;
        top: 0;
        right: 10px;
        color: #000000;
        font-size: 25px;
        cursor: pointer;
    }

    .close:hover {
        color: #bbb;
    }

    .toast-content{
        display:flex;
        height: 100%;
        flex-wrap: wrap;
        /* margin-bottom: 10px; */
        flex-direction: column;
    }
    .toast-top{
        flex: 1;
        display: flex;
        border-bottom: solid;
        border-width: 1px;
        border-color: gray;


    }
    .toast-bottom{
        flex:1;
    }
    .toast-image-container{
        width: 100%;
        height: auto;
        flex:6;
        border-right: solid;
        border-width: 1px;
        border-color: gray;
    }
    .toast-img{
        width: 100%;
        height: 100%;
        object-fit:cover;

    }
    .toast-info{
        flex:4;
    }

    .toast-info-row{
        display:flex;
        flex-direction: column;
        margin: 50px;
        border-bottom: solid;
        border-width: 1px;
        border-color: gray;
        padding-bottom: 20px;;
        overflow: hidden; /* Add scroll or auto if you want scrollbars instead */
        word-wrap: break-word; /* Break long words */
        overflow-wrap: break-word; /* Ensure overflow is wrapped */
        white-space: normal; 

    }

    .toast-icon-text{
        display: flex;
        gap:10px;
        margin: 10px;
        font-size: large;
    }

    .toast-lab-name{
        font-size: 25x;
        font-weight: bold;
    }

    .toast-info-column{
        display:flex;
        flex-direction: row;
        margin: 20px;
        gap:10px;
        justify-content: space-between;
        margin-top: 60px;

    }

    /* .toast-person{
        background-color: red;
    } */
    .toast-person-type{
        font-weight: bold;
        display: flex;
        justify-content: left;
    }
    .toast-person-container{
        display: flex;
        gap:1px;
    }
    .toast-person-icon{
        /* margin-top: 2px; */
        margin-left: 10px;
    }

    .toast-bottom{
        /* background-color: lightgray; */
        text-align: justify;
        margin: 10px;
    }

  
    
    
    </style>
    <!-- <button id="toggleButton">Filter</button> -->

    <div class="mycontainer">
        <!-- Left Panel -->
        <div class="left-panel" id="leftPanel">
            <!-- <input type="text" placeholder="Search..."> -->

            <form class="d-flex" method=POST >
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Search Labs" aria-label="Search" name="searched_labs">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>

              
            <!-- <select>
                <option value="Aerospace Engineering">Aerospace Engineering</option>
                <option value="Biosciences and Bioengineering">Biosciences and Bioengineering</option>
                <option value="Chemical Engineering">Chemical Engineering</option>
                <option value="Chemistry">Chemistry</option>
                <option value="Civil Engineering">Civil Engineering</option>
                <option value="Computer Science Engineering">Computer Science Engineering</option>
                <option value="Desai Sethi School of Entrepreneurship (DSSE)">Desai Sethi School of Entrepreneurship (DSSE)</option>
                <option value="Earth Sciences">Earth Sciences</option>
                <option value="Economics">Economics</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Energy Science and Engineering">Energy Science and Engineering</option>
                <option value="Environmental Science and Engineering">Environmental Science and Engineering</option>
                <option value="Humanities & Social Sciences">Humanities & Social Sciences</option>
                <option value="IDC School of Design (IDC SoD)">IDC School of Design (IDC SoD)</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Metallurgical Engineering & Materials Science">Metallurgical Engineering & Materials Science</option>
                <option value="Physics">Physics</option>
                <option value="Shailesh J. Mehta School of Management (SJMSoM)">Shailesh J. Mehta School of Management (SJMSoM</option>
            </select> -->
        </div>
 
        <!-- Right Panel -->
        <div class="right-panel">
            <!-- Row of Cards -->
            <div class="card-row">
            {% for lab in labs %}
	        {% if lab.approved %}   
                <div class="card">
                    <img width="100%" height="auto" src="{% static 'images/dummy_image.jpeg' %}" alt="Image 1">
                    <div class="card-info">
                        <div class="card-left-info">
                            <div class="card-lab-name">
                                <div class="icon">
                                    <img width="15px" height="15px" src="{% static 'images/lab-icon.png' %}" alt="Image 1">
                                </div>
                                <div class="Name">{{ lab }}</div>
                            </div>
                            <div class="card-department-name">
                                <div class="icon">
                                    <img width="15px" height="15px" src="{% static 'images/dep-icon.png' %}" alt="Image 1">
                        
                                </div>
                                <div class="Name">{{ lab.academic_division }}</div>
                            </div>
                        </div>
                        <div  class="card-right-info">
                            <button onclick=openToaste({{lab.id}}) class="card-button">View</button>
                        </div>
                    </div>
                </div>
                {% endif %}	
                {% endfor %}
            </div>
            <!-- Additional rows can be added in the same format -->
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
      
          {% if labs.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">&laquo</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ labs.previous_page_number }}"> Prev</a></li>
          {% elif not labs.has_previous %}
                   <li class="page-item disabled"><a class="page-link" href="#">&laquo</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
          {% endif %}
      
          <!-- <li class="page-item disabled"><a class="page-link" href="#">Page {{ labs.number }} of {{ labs.paginator.num_pages }}</a></li> -->
      
      
          {% for i in nums %}
          <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
          {% endfor %}
      
      
          {% if labs.has_next %}	
          <li class="page-item"><a class="page-link" href="?page={{ labs.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ labs.paginator.num_pages }}">&raquo</a></li>
      
          {% elif not labs.has_next %}
                   <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#">&raquo</a></li>
          
          {% endif %}
        </ul>
      </nav>

      <div id="toast" class="toast">
        <div id="toast-html">
            <!-- <div class="toast-content">
                <div class="toast-top">
                    <div class="toast-image-container">
                        <img class="toast-img" src="{% static 'images/dummy_image.jpeg' %}" alt="Image 1">

                    </div>
                    <div class="toast-info">
                        <div class="toast-info-row">

                            <div class="toast-icon-text">
                                <img width="auto" height="25px" src="{% static 'images/lab-icon.png' %}" alt="Image 1">
                                <div class="toast-lab-name">Bacterial Pathogenesis</div>
                            </div>
                            <div class="toast-icon-text">
                                <img width="auto" height="25px" src="{% static 'images/dep-icon.png' %}" alt="Image 1">
                                <div class="toast-department-name">Bioscience and engineering</div>
                            </div>
                            <div class="toast-icon-text">
                                <img width="auto" height="25px" src="{% static 'images/loc-icon.png' %}" alt="Image 1">
                                <div class="toast-lab-location">Room No. 201, BSBE Building</div>
                            </div>
                            <div class="toast-icon-text">
                                <img width="auto" height="25px" src="{% static 'images/web-icon.png' %}" alt="Image 1">
                                <div class="toast-lab-website"><a href="https://www.bio.iitb.ac.in/~anirban/">https://www.bio.iitb.ac.in/~anirban/</a></div>
                            </div>
                        </div>
                        <div class="toast-info-column">
                                <div class="toast-person">
                                    <div class="toast-person-type">Associated Faculty</div>
                                    <div class="toast-person-container">
                                        <div class="toast-person-icon">
                                            <img margin-top="5px" width="auto" height="15px" src="{% static 'images/contact-icon.png' %}" alt="Image 1">
                                        </div>
                                        <div>Name and Contact</div>
                                    </div>

                                    <div class="toast-person-container">
                                        <div class="toast-person-icon">
                                            <img margin-top="5px" width="auto" height="15px" src="{% static 'images/email-icon.png' %}" alt="Image 1">
                                        </div>
                                        <div>Email</div>
                                    </div>
                                </div>
                                <div class="toast-person">
                                    <div class="toast-person-type">PoC</div>
                                    <div class="toast-person-container">
                                        <div class="toast-person-icon">
                                            <img margin-top="5px" width="auto" height="15px" src="{% static 'images/contact-icon.png' %}" alt="Image 1">
                                        </div>
                                        <div>Name and Contact</div>
                                    </div>

                                    <div class="toast-person-container">
                                        <div class="toast-person-icon">
                                            <img margin-top="5px" width="auto" height="15px" src="{% static 'images/email-icon.png' %}" alt="Image 1">
                                        </div>
                                        <div>Email</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="toast-bottom">
                    The primary aim of our lab is to understand how the interaction between Streptococcus pneumoniae and the host leads to a productive infection. Streptococcus pneumoniae is the leading cause of invasive bacterial infections such as pneumonia, sepsis, and meningitis in children and adults. We strive to decipher the mechanisms of pneumococcal pathogenesis, its interaction with the host and identify/characterize its virulence genes. Conversely, we also study host antimicrobial mechanisms that keep Streptococcus pneumoniae infection in check. The research area comprises multiple disciplines like cell biology, molecular biology, microbiology, etc. Our long-term goal is to develop novel therapeutic approaches or serotype-independent vaccine preparation for pneumococcus that would reduce its disease burden.
                </div>
 
            </div> -->
        </div>
        <span id="closeToast" class="close">&times;</span>
    </div>
    
     <script>

        // var toastElement = document.getElementById('toast');
        // toastElement.classList.add('show');
        document.getElementById('toggleButton').addEventListener('click', function() {
            var leftPanel = document.getElementById('leftPanel');
            leftPanel.style.display = leftPanel.style.display === 'block' ? 'none' : 'block';
        });


        document.getElementById('closeToast').onclick = function() {
            var toastElement = document.getElementById('toast');
            toastElement.classList.remove('show');
        };

        function getCSRFToken() {
            return $('[name=csrfmiddlewaretoken]').val();
        }

        function openToaste(id){
            const toastHTML = document.getElementById('toast-html');
            // const div = document.querySelector("toast");

            const lab_id = id;
            // fetch('/resxlabs/', {
            //     method: 'POST',
            //     body: {"lab_id":lab_id}
            // })
            // .then(response => console.log(response))
            // .then(data => {
            //     // toastElement.textContent = data.message;
            // })
            // .catch(error => console.error('Error:', error));


            $.ajax({
                    url: '/resxlabs/',
                type: 'POST',
                data: {
                    'lab_id': id,
                    'csrfmiddlewaretoken': getCSRFToken()
                },
                success: function(lab_info) {
                    console.log(lab_info);
                    toastHTML.innerHTML = 
                    `
                    <div class="toast-content">
                        <div class="toast-top">
                            <div class="toast-image-container">
                            <img class="toast-img" src="{% static 'images/dummy_image.jpeg' %}" alt="Image 1">

                                <!-- <img class="toast-img" src="${lab_info.lab_image}" alt="Image 1"> -->

                            </div>
                            <div class="toast-info">
                                <div class="toast-info-row">

                                    <div class="toast-icon-text">
                                        <img width="auto" height="25px" src="{% static 'images/lab-icon.png' %}" alt="Image 1">
                                        <div class="toast-lab-name">${lab_info.name}</div>
                                    </div>
                                    <div class="toast-icon-text">
                                        <img width="auto" height="25px" src="{% static 'images/dep-icon.png' %}" alt="Image 1">
                                        <div class="toast-department-name">${lab_info.academic_division}</div>
                                    </div>
                                    <div class="toast-icon-text">
                                        <img width="auto" height="25px" src="{% static 'images/loc-icon.png' %}" alt="Image 1">
                                        <div class="toast-lab-location">${lab_info.address}</div>
                                    </div>
                                    <div class="toast-icon-text">
                                        <img width="auto" height="25px" src="{% static 'images/web-icon.png' %}" alt="Image 1">
                                        <div class="toast-lab-website"><a href="${lab_info.web}">${lab_info.web}</a></div>
                                    </div>
                                    <div class="toast-icon-text">
                                        <div class="toast-lab-location">${lab_info.research_equipment}</div>
                                    </div>
                                </div>
                                <div class="toast-info-column">
                                        <div class="toast-person">
                                            <div class="toast-person-type">Associated Faculty</div>
                                            <div class="toast-person-container">
                                                <div class="toast-person-icon">
                                                    <img margin-top="5px" width="auto" height="15px" src="{% static 'images/contact-icon.png' %}" alt="Image 1">
                                                </div>
                                                <div>${lab_info.faculty}</div>
                                            </div>

                                            <div class="toast-person-container">
                                                <div class="toast-person-icon">
                                                    <img margin-top="5px" width="auto" height="15px" src="{% static 'images/phone-icon.png' %}" alt="Image 1">
                                                </div>
                                                <div>${lab_info.contact}</div>
                                            </div>


                                            <div class="toast-person-container">
                                                <div class="toast-person-icon">
                                                    <img margin-top="5px" width="auto" height="15px" src="{% static 'images/email-icon.png' %}" alt="Image 1">
                                                </div>
                                                <div>${lab_info.email_address}</div>
                                            </div>
                                        </div>
                                        <div class="toast-person">
                                            <div class="toast-person-type">PoC</div>
                                            <div class="toast-person-container">
                                                <div class="toast-person-icon">
                                                    <img margin-top="5px" width="auto" height="15px" src="{% static 'images/contact-icon.png' %}" alt="Image 1">
                                                </div>
                                                <div>${lab_info.poc_manager}</div>
                                            </div>

                                            <div class="toast-person-container">
                                                <div class="toast-person-icon">
                                                    <img margin-top="5px" width="auto" height="15px" src="{% static 'images/email-icon.png' %}" alt="Image 1">
                                                </div>
                                                <div>${lab_info.poc_manager_email}</div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="toast-bottom">
                            ${lab_info.description}
                        </div>
        
                    </div>
                    `;

                },
                error: function(xhr, errmsg, err) {
                    console.log('Error:', errmsg);
                }
            });
            

            console.log(id);
            var toastElement = document.getElementById('toast');
            toastElement.classList.add('show');
            }

           

    </script>

    <script>
        $(function(){
            var csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                                    // Send the token to same-origin, relative URLs only.
                                    // Send the token only if the method warrants CSRF protection
                                    // Using the CSRFToken value acquired earlier
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
            });

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }

        // usando jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


            function csrfSafeMethod(method) {
                // estos métodos no requieren CSRF
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
        });
    </script>

{% endblock %}
