{% extends "labs/base.html" %}

{% block content %}

<div class="card">
  <div class="card-header">
    {{ lab.academic_division }}
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ lab }}</h3>
    <p class="card-text">
    	
		<strong>Associated Faculty:</strong> {{ lab.faculty }}<br>
		<!-- <strong>Website:</strong> {{ lab.web }}<br> -->
		<strong>Contact:</strong> {{ lab.contact }}<br>
		<strong>Email:</strong> <a href="mailto:{{ lab.email_address }}">{{ lab.email_address }}</a><br>
		<strong>Description:</strong> {{ lab.description }}<br>
		<strong>Research Equipment:</strong> {{ lab.research_equipment }}<br>
		<strong>People:</strong> 
		{% for user in lab.associated_users.all %}
		<br>{{ user }}
		{% endfor %}
    </p>
    <a href="{{ lab.web }}" class="btn btn-primary">Visit Website</a>
  </div>
</div>
<br><br>

{% endblock %}