{% extends "labs/base.html" %}

{% block content %}

	<h1>Labs</h1><br>
	<table class="table table-hover table-bordered table-striped">
	{% for lab in lab_list %}
	<tr>
			<td>
				<a href="{% url 'show-lab' lab.id %}">{{ lab }}</a> <br>
			</td>
			<td align="right">
				 <a href="{% url 'update-lab' lab.id %}" 
				class="btn btn-outline-secondary btn-sm">Update</a> 
				<a href="{% url 'delete-lab' lab.id %}" 
				class="btn btn-outline-danger btn-sm">Delete</a> 
			</td>
		</tr>
		
	{% endfor %}

{% endblock %}


